<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>消息提示</title>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.cqwo.com/js/jquery.min.js"></script>

</head>
<body>
<h1 class="rightH1">后台操作 &gt;&gt; 操作提示</h1>
<div class="tip">
    <h3>消息提示</h3>




    你没有相关权限


</div>
<div id="bottom">
    Copyright @2012-2018 510link.com Inc. All Rights Reserved
    <br/>
    程序版本:0.1.637
</div>
</body>
</html>

